.form-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
}

.form-box input,
.form-box textarea,
.form-box select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.form-box button {
    background: #48B3AF;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
