.page-container {
    padding: 30px;
}

h2 {
    color: #48B3AF;
    margin-bottom: 20px;
}

.prescription-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    margin-bottom: 20px;
}

.prescription-card strong {
    color: #48B3AF;
}

.prescription-card p {
    margin: 6px 0;
}
