.page-container {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.profile-card {
    background: #ffffff;
    width: 420px;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 12px 28px rgba(0,0,0,0.12);
}

.profile-card h3 {
    color: #48B3AF;
    margin-bottom: 20px;
}

.profile-card p {
    margin: 10px 0;
    font-size: 15px;
}
