.table-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background: #48B3AF;
    color: white;
}

tr:nth-child(even) {
    background: #f4fefe;
}
