# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff
db.sqlite3
media/
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
