{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '../static/css/doctor/create_prescription.css' %}">

{% endblock %}

{% block content %}

<div class="topbar">
    <h3>Create Prescription</h3>
</div>

<div class="form-box">
    <form method="post">
        {% csrf_token %}

        <input type="text" placeholder="Patient Name">
        <input type="text" placeholder="Medicine Name">
        <input type="text" placeholder="Dosage">
        <textarea rows="4" placeholder="Instructions"></textarea>

        <button type="submit">Save Prescription</button>
    </form>
</div>

{% endblock %}
