{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '../static/css/doctor/prescriptions.css' %}">

{% endblock %}

{% block content %}

<div class="topbar">
    <h3>Prescriptions</h3>
</div>

<div class="table-box">
    <table>
        <thead>
            <tr>
                <th>Patient</th>
                <th>Medicine</th>
                <th>Dosage</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John Doe</td>
                <td>Paracetamol</td>
                <td>2 times/day</td>
                <td>10 Sep 2025</td>
            </tr>
            <tr>
                <td>Mary Smith</td>
                <td>Amoxicillin</td>
                <td>3 times/day</td>
                <td>11 Sep 2025</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
