{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '../static/css/doctor/profile_edit.css' %}">

{% endblock %}

{% block content %}

<div class="topbar">
    <h3>Edit Profile</h3>
</div>

<div class="form-box">
    <form method="post">
        {% csrf_token %}

        <input type="text" placeholder="Full Name">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Specialization">
        <input type="text" placeholder="Contact Number">

        <button type="submit">Update Profile</button>
    </form>
</div>

{% endblock %}
