{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '../static/css/doctor/profile_view.css' %}">
{% endblock %}

{% block content %}

<div class="topbar">
    <h3>My Profile</h3>
</div>

<div class="form-box">
    <p><strong>Name:</strong> Dr. John Smith</p>
    <p><strong>Email:</strong> doctor@gmail.com</p>
    <p><strong>Specialization:</strong> Cardiologist</p>
    <p><strong>Contact:</strong> 9876543210</p>

    <br>
    <a href="/doctor/profile/edit/" 
       style="background:#48B3AF;color:white;padding:10px 15px;border-radius:8px;text-decoration:none;">
       Edit Profile
    </a>
</div>

{% endblock %}
