{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<body>
<div class="auth-wrapper">
    <div class="auth-container">
        <h2>Register</h2>

        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>

            <select name="role" required>
                <option value="">Select Role</option>
                <option value="PATIENT">Patient</option>
                <option value="DOCTOR">Doctor</option>
                <option value="ADMIN">Admin</option>
            </select>

            <button type="submit">Register</button>
        </form>
        <p>
            Already have an account?
            <a href="/login/">Login</a>
        </p>
    </div>
</div>
    <script type="module" src="{% static 'js/register.js' %}"></script>
</body>
{% endblock %}